*{
  margin: 0;
  padding: 0;
  background-color: #48919b;
}


.Header,
.txtHeader{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 700;
  background-color: #E0FFFF;
  color: #000000;
  margin-bottom: 30px;
}


.arrecadacao_total{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arrecadacao_geral_btn{
  margin: 0px;
  background-color: #FFF;
  font-size: 25px;
  padding: 20px;
}

.txtArrecadacaoGeral{
  font-size: 40px;
  margin: 5px;
}

.linha_um,
.linha_dois,
.linha_tres,
.linha_quatro,
.linha_cinco {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 75px;
}

.um,
.dois,
.tres,
.quatro,
.cinco,
.seis,
.sete,
.oito,
.nove,
.dez{
  height: 530px;
  width: 380px;
  background-color: #38B0DE;
  font-size: 20px;
}

.sala,
.filme,
.duracao,
.restantes,
.horario,
.arrecadao,
.capacidade{
  margin: 30px;
  background-color: #38B0DE;
}

.comprar{
  margin: 10px;
  background-color: #FFF;
  font-size: 15px;
  padding: 5px;
}

.tooltip-dolar {
  position: relative;
  display: flex;
  color: white;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tooltip-dolar .tooltiptext-dolar {
  visibility: hidden;
  margin-top: 0px;
  width: 100%;
  background-color: #48919b;
  color: #000000;
  position: absolute;
  top: 100%;
  border: 5px solid aliceblue;
  height: 530px;
}

.tooltip-dolar:hover .tooltiptext-dolar {
  visibility: visible;
}
