@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.madurai-font{
    font-family: 'Hind Madurai', sans-serif;
}

.left-btn{
    color: #f9f9f9;
    background-color: #171A20CC;
}

.right-btn{
    color: #020202;
    background-color: #f9f9f9;
}

@keyframes animateDown{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }40%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(3px);
    }
}

