header{
  background-color: aqua;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}

.corpo{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
